.checkBox {
  width: 13px;
  height: 13px;
}

.text {
  font-size: 12px;
  font-weight: 400;
  color: #fff;
}

.position {
  display: flex;
  gap: 15px;
  padding-top: 10px;
  padding-left: 20px;
  align-items: center;
}
